div{
    width: 33%;
    height: 600px;
    /* background-color: blue; */
    margin: 10px;
    text-align: center;
    /* display: flex */
    /* background-image: url(./img/lion.jpg); */
    border-radius: 15px;
}
#main{
    display: flex ;
    width: 100%;
    background-color: beige;
    height: fit-content;
}